<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

	<head> 
	    <title>Know Thyself</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="description" content="Which alignment do you act the most as?">
	    <meta name="author" content="Ibrahim Sydock">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    
	    <link href="css/bootstrap.min.css" rel="stylesheet">
   		<link href="css/style.css" rel="stylesheet">
	    
	</head>
	
<body>

	<!-- Header -->
	<div th:replace="~{/layouts/navbar :: header}">header goes here</div>
	
	<!-- Content -->
	<section layout:fragment="content">
	<p>Replace this with page that has layout:fragment="content"</p>
	</section>
	
	
	<!-- Footer -->
	<div th:replace="~{/layouts/basicFooter :: footer}">footer goes here</div>

</body>

</html>