<!DOCTYPE HTML>

<html layout:decorate="~{layouts/default}">

	
	
	<body layout:fragment="content">
	    <p class="text-page" th:text="${scene_desc}">this is where the game is played</p>
	    
		<div class="center"> 
		
			<form action="" method="get">
				<th:block   th:each="option, stat: ${options}" th:start="option.">
					<!-- TODO: force first radio button to be checked -->
						<div>
							<input class="form-check-input" 
								type="radio" 
								th:value="option + ${stat.index}" 
								name="radioOp" 
								th:id="radioOp + ${stat.index}">
							<label class="form-check-label" th:for="radioOp + ${stat.index}" th:text="${option}">
						    Default radio
						    </label>
					    </div>
				</th:block>
				
				<p class="center" th:text="${result}"></p>
				
				<div>
		      		<button type="submit">Submit</button>
		    	</div>
	    	</form>
		</div>
	    
	    <!-- <th:block th:each="option, stat: ${options}" th:start="option.">

			    <ol class="center" th:start="${stat.index} + 1">
			    	
					<li class="list-item" th:text="${option}">
						Lorem ipsum dolor sit amet
					</li>
				
				</ol>  
			
		</th:block> -->
		
		
	
	
	
	
	</body>
	
	
	
</html>