<!DOCTYPE HTML>

<html layout:decorate="~{layouts/default}">

	
	
	<body layout:fragment="content">
	    <p class="text-page" th:text="${scene_desc}">this is where the game is played</p>
	    
	    <th:block th:each="option, stat: ${options}" th:start="option.">
	    
		    <ol th:start="${stat.index} + 1">
		    
				<li class="list-item" th:text="${option}">
					Lorem ipsum dolor sit amet
				</li>
			
			</ol> 
		</th:block>
		<p th:text="${result}"></p>
		
	</body>
	
	
	
</html>